## DataFrame Operasyonları Ve Metodları

In [1]:
import pandas as pd

C:\Users\baki5\AppData\Local\Temp\ipykernel_16468\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## IMPORT YÖNTEMLERİ
1. İçe aktarılacak dosya ve not defteri aynı dosyanın içindeyse:

    df = pd.read_csv("Dosyanın adı")

2. Farklı dosyalarda ise:

    df = pd.read_csv("C:\\users\\bakim\\Desktop.... kısaca dosyanın konumu)

3. VEYA

    df = pd.read_csv("../data/dosyanın adı")

In [2]:
df = pd.read_csv("pokemon.csv")

In [3]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [4]:
df.Name

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3               Charmander
4               Charmeleon
              ...
737                Zygarde
738                Diancie
739    HoopaHoopa Confined
740     HoopaHoopa Unbound
741              Volcanion
Name: Name, Length: 742, dtype: object

In [5]:
type(df)

pandas.core.frame.DataFrame

In [6]:
type(df["Attack"])

pandas.core.series.Series

In [7]:
df[["Name","Type 1"]]

                    Name   Type 1
0              Bulbasaur    Grass
1                Ivysaur    Grass
2               Venusaur    Grass
3             Charmander     Fire
4             Charmeleon     Fire
..                   ...      ...
737              Zygarde   Dragon
738              Diancie     Rock
739  HoopaHoopa Confined  Psychic
740   HoopaHoopa Unbound  Psychic
741            Volcanion     Fire

[742 rows x 2 columns]

In [8]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [9]:
df["Total Atk"] = df["Attack"] + df["Sp. Atk"]
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [10]:
df["hp ratio %"] = round(df["HP"] / df["Defense"],2)  #round ,2 virgülden sonra 2 basamağa kadar yuvarla demek.
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,hp ratio %
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,0.92
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,0.95
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,0.96
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,0.91
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181,0.89
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,0.33
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260,1.33
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330,1.33
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240,0.67

## DROP METOD

In [11]:
help(df.drop)

Help on method drop in module pandas.core.frame:

drop(labels: 'IndexLabel | None' = None, *, axis: 'Axis' = 0, index: 'IndexLabel | None' = None, columns: 'IndexLabel | None' = None, level: 'Level | None' = None, inplace: 'bool' = False, errors: 'IgnoreRaise' = 'raise') -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Drop specified labels from rows or columns.

    Remove rows or columns by specifying label names and corresponding
    axis, or by directly specifying index or column names. When using a
    multi-index, labels on different levels can be removed by specifying
    the level. See the :ref:`user guide <advanced.shown_levels>`
    for more information about the now unused levels.

    Parameters
    ----------
    labels : single label or list-like
        Index or column labels to drop. A tuple will be used as a single
        label and not treated as a list-like.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Whether to drop labels from the index (0 or 'index') or
        columns (1 or 'columns').
    index : single label or list-like
        Alternative to specifying axis (``labels, axis=0``
        is equivalent to ``index=labels``).
    columns : single label or list-like
        Alternative to specifying axis (``labels, axis=1``
        is equivalent to ``columns=labels``).
    level : int or level name, optional
        For MultiIndex, level from which the labels will be removed.
    inplace : bool, default False
        If False, return a copy. Otherwise, do operation
        in place and return None.
    errors : {'ignore', 'raise'}, default 'raise'
        If 'ignore', suppress error and only existing labels are
        dropped.

    Returns
    -------
    DataFrame or None
        Returns DataFrame or None DataFrame with the specified
        index or column labels removed or None if inplace=True.

    Raises
    ------
    KeyError
        If any of the labels is not found in the selected axis.

    See Also
    --------
    DataFrame.loc : Label-location based indexer for selection by label.
    DataFrame.dropna : Return DataFrame with labels on given axis omitted
        where (all or any) data are missing.
    DataFrame.drop_duplicates : Return DataFrame with duplicate rows
        removed, optionally only considering certain columns.
    Series.drop : Return Series with specified index labels removed.

    Examples
    --------
    >>> df = pd.DataFrame(np.arange(12).reshape(3, 4),
    ...                   columns=['A', 'B', 'C', 'D'])
    >>> df
       A  B   C   D
    0  0  1   2   3
    1  4  5   6   7
    2  8  9  10  11

    Drop columns

    >>> df.drop(['B', 'C'], axis=1)
       A   D
    0  0   3
    1  4   7
    2  8  11

    >>> df.drop(columns=['B', 'C'])
       A   D
    0  0   3
    1  4   7
    2  8  11

    Drop a row by index

    >>> df.drop([0, 1])
       A  B   C   D
    2  8  9  10  11

    Drop columns and/or rows of MultiIndex DataFrame

    >>> midx = pd.MultiIndex(levels=[['llama', 'cow', 'falcon'],
    ...                              ['speed', 'weight', 'length']],
    ...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
    ...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
    >>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
    ...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
    ...                         [250, 150], [1.5, 0.8], [320, 250],
    ...                         [1, 0.8], [0.3, 0.2]])
    >>> df
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            weight  1.0     0.8
            length  0.3     0.2

    Drop a specific index combination from the MultiIndex
    DataFrame, i.e., drop the combination ``'falcon'`` and
    ``'weight'``, which deletes only the corresponding row

    >>> df.drop(index=('falcon', 'weight'))
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
            length  1.5     1.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
            length  1.5     0.8
    falcon  speed   320.0   250.0
            length  0.3     0.2

    >>> df.drop(index='cow', columns='small')
                    big
    llama   speed   45.0
            weight  200.0
            length  1.5
    falcon  speed   320.0
            weight  1.0
            length  0.3

    >>> df.drop(index='length', level=1)
                    big     small
    llama   speed   45.0    30.0
            weight  200.0   100.0
    cow     speed   30.0    20.0
            weight  250.0   150.0
    falcon  speed   320.0   250.0
            weight  1.0     0.8

In [12]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,hp ratio %
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,0.92
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,0.95
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,0.96
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,0.91
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181,0.89
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,0.33
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260,1.33
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330,1.33
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240,0.67

In [13]:
df.drop("hp ratio %", axis=1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [14]:
df # Bu nedemek sadece o an hp ratioyu kaldırmış olduk hala verimizde gördüğünüz gibi duruyor

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,hp ratio %
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,0.92
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,0.95
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,0.96
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,0.91
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,1.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181,0.89
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,0.33
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260,1.33
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330,1.33
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240,0.67

In [15]:
df.drop("hp ratio %", axis=1, inplace=True)

In [16]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [17]:
df[140:155]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
140,141,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False,165
141,142,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,175
142,143,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,180
143,144,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True,215
144,145,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,225
145,146,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False,114
146,147,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False,154
147,148,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False,234
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,264
149,150,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False,200
150,151,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False,98
151,152,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False,125
152,153,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False,165
153,154,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False,112
154,155,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False,144

In [18]:
poke = df.iloc[148]
poke

#                 149
Name           Mewtwo
Type 1        Psychic
Type 2            NaN
Total             680
HP                106
Attack            110
Defense            90
Sp. Atk           154
Sp. Def            90
Speed             130
Generation          1
Legendary        True
Total Atk         264
Name: 148, dtype: object

In [19]:
#bu pokemonu silmek istersek nasıl yaparız ? 

df.drop([148],axis=0)[144:154]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
144,145,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,225
145,146,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False,114
146,147,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False,154
147,148,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False,234
149,150,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False,200
150,151,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False,98
151,152,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False,125
152,153,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False,165
153,154,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False,112
154,155,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False,144

In [20]:
df[144:154]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
144,145,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True,225
145,146,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False,114
146,147,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False,154
147,148,Dragonite,Dragon,Flying,600,91,134,95,100,100,80,1,False,234
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,264
149,150,Mew,Psychic,NaN,600,100,100,100,100,100,100,1,False,200
150,151,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False,98
151,152,Bayleef,Grass,NaN,405,60,62,80,63,80,60,2,False,125
152,153,Meganium,Grass,NaN,525,80,82,100,83,100,80,2,False,165
153,154,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False,112

## APPEND METOD

In [21]:
poke

#                 149
Name           Mewtwo
Type 1        Psychic
Type 2            NaN
Total             680
HP                106
Attack            110
Defense            90
Sp. Atk           154
Sp. Def            90
Speed             130
Generation          1
Legendary        True
Total Atk         264
Name: 148, dtype: object

## İndex Operasyonları

In [22]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144

In [23]:
df.set_index("#")

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
#,,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [24]:
df.reset_index().head()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144

In [25]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144

In [26]:
df.iloc[5]

#                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
Total               534
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Total Atk           193
Name: 5, dtype: object

In [27]:
df.iloc[42:56]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
42,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,125
43,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False,150
44,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False,190
45,46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False,115
46,47,Parasect,Bug,Grass,405,60,95,80,60,80,30,1,False,155
47,48,Venonat,Bug,Poison,305,60,55,50,40,55,45,1,False,95
48,49,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1,False,155
49,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False,90
50,51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False,130
51,52,Meowth,Normal,NaN,290,40,45,35,40,40,90,1,False,85
52,53,Persian,Normal,NaN,440,65,70,60,65,65,115,1,False,135
53,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False,117
54,55,Golduck,Water,NaN,500,80,82,78,95,80,85,1,False,177
55,56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False,115

In [28]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [29]:
df.iloc[5]

#                     6
Name          Charizard
Type 1             Fire
Type 2           Flying
Total               534
HP                   78
Attack               84
Defense              78
Sp. Atk             109
Sp. Def              85
Speed               100
Generation            1
Legendary         False
Total Atk           193
Name: 5, dtype: object

In [30]:
df.set_index(keys="Name")

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,114
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,142
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,182
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,112
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zygarde,738,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
Diancie,739,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
HoopaHoopa Confined,740,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
HoopaHoopa Unbound,741,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
Volcanion,742,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [31]:
copy = df.set_index("Name")

In [32]:
copy

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
Name,,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,114
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,142
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,182
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,112
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Zygarde,738,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
Diancie,739,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
HoopaHoopa Confined,740,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
HoopaHoopa Unbound,741,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
Volcanion,742,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [33]:
copy.loc["Zygarde"]

#                738
Type 1        Dragon
Type 2        Ground
Total            600
HP               108
Attack           100
Defense          121
Sp. Atk           81
Sp. Def           95
Speed             95
Generation         6
Legendary       True
Total Atk        181
Name: Zygarde, dtype: object

In [34]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [35]:
df.reset_index()

,index,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

## Koşul ekleme ve AND, OR operatörleri

In [36]:
df["HP"] > 100

0      False
1      False
2      False
3      False
4      False
       ...
737     True
738    False
739    False
740    False
741    False
Name: HP, Length: 742, dtype: bool

In [37]:
df.iloc[735:738]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
735,736,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,262
736,737,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,262
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181

In [38]:
hp = df["HP"] > 150
df[hp]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40
141,142,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,175
200,201,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False,66
240,241,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85
319,320,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,180
605,606,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,115

In [39]:
df[df["HP"] > 150]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40
141,142,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,175
200,201,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False,66
240,241,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85
319,320,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,180
605,606,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,115

In [40]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [41]:
df["Type 1"] == "Grass"

0       True
1       True
2       True
3      False
4      False
       ...
737    False
738    False
739    False
740    False
741    False
Name: Type 1, Length: 742, dtype: bool

In [42]:
type_grass = df["Type 1"] == "Grass"
df[type_grass]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
42,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False,125
43,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668,669,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False,109
669,670,Quilladin,Grass,NaN,405,61,78,95,56,58,57,6,False,134
670,671,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False,181
690,691,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False,127
691,692,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False,197

In [43]:
df[df["Type 1"] == "Dark"].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
195,196,Umbreon,Dark,NaN,525,95,65,110,60,130,65,2,False,125
196,197,Murkrow,Dark,Flying,405,60,85,42,85,42,91,2,False,170
213,214,Sneasel,Dark,Ice,430,55,95,55,35,75,115,2,False,130
226,227,Houndour,Dark,Fire,330,45,60,30,80,50,65,2,False,140
227,228,Houndoom,Dark,Fire,500,75,90,50,110,80,95,2,False,200
259,260,Poochyena,Dark,NaN,220,35,55,35,30,30,35,3,False,85
260,261,Mightyena,Dark,NaN,420,70,90,70,60,60,70,3,False,150
300,301,Sableye,Dark,Ghost,380,50,75,75,65,65,50,3,False,140
357,358,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False,205
433,434,Honchkrow,Dark,Flying,505,100,125,52,105,52,71,4,False,230

In [44]:
"""
 mesela herhangi bir pokemonu merak ediyoruz nasıl buluruz ?
 eğer aklınızda indexi isim olarak ayarlayıp loc kullanmak varsa doğru düşünüyorsunuz ama artık daha kolay bir yöntem öğrendik 
"""

df[df["Name"] == "Gastly"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
91,92,Gastly,Ghost,Poison,310,30,35,30,100,35,80,1,False,135

In [45]:
copy.loc["Absol"]

#               358
Type 1         Dark
Type 2          NaN
Total           465
HP               65
Attack          130
Defense          60
Sp. Atk          75
Sp. Def          60
Speed            75
Generation        3
Legendary     False
Total Atk       205
Name: Absol, dtype: object

# AND veya OR

In [46]:
# and veya or komutlarının ne anlama geldiğini biliyorsunuz ancak
# Pandas koşullarında normal python gibi yazıyla kullanılmaz 
# Ve için = & , Yada için ise = | kullanılır

In [47]:
df[(df["Attack"] > 148) & df["Legendary"] == True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
381,382,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True,250
382,383,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,300
384,385,Deoxys Normal,Psychic,NaN,600,50,150,50,150,50,150,3,True,300
385,386,Deoxys Attack,Psychic,NaN,600,50,180,20,180,20,150,3,True,360
494,495,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True,240
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,270
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,290
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330

In [48]:
df[(df["Defense"] < 70) & (df["Type 1"] == "Water")].head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
6,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False,98
53,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False,117
59,60,Poliwag,Water,NaN,300,40,50,40,40,40,90,1,False,90
60,61,Poliwhirl,Water,NaN,385,65,65,65,50,50,90,1,False,115
71,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False,90
72,73,Tentacruel,Water,Poison,515,80,70,65,80,120,100,1,False,150
78,79,Slowpoke,Water,Psychic,315,90,65,65,40,40,15,1,False,105
85,86,Seel,Water,NaN,325,65,45,55,45,70,45,1,False,90
116,117,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False,102
117,118,Seaking,Water,NaN,450,80,92,65,65,80,68,1,False,157
118,119,Staryu,Water,NaN,340,30,45,55,70,55,85,1,False,115
127,128,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25
132,133,Vaporeon,Water,NaN,525,130,65,60,110,95,65,1,False,175
156,157,Totodile,Water,NaN,314,50,65,64,44,48,43,2,False,109
168,169,Chinchou,Water,Electric,330,75,38,38,56,56,67,2,False,94

In [49]:
df[(df["Defense"] < 110) & (df["Type 1"] != "Rock")]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,735,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False,167
735,736,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True,262
736,737,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True,262
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330

In [50]:
df[(df["HP"] < 30) | (df["Attack"] < 10)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
49,50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False,90
62,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,125
80,81,Magnemite,Electric,Steel,325,25,35,70,95,55,45,1,False,130
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40
127,128,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25
170,171,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False,75
211,212,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,20
278,279,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False,70
290,291,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False,120
347,348,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25
353,354,Duskull,Ghost,NaN,295,20,40,90,30,90,25,3,False,70
442,443,Mime Jr.,Psychic,Fairy,310,20,25,45,70,90,60,4,False,95
443,444,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20

# .isin

In [51]:
# bu metod nedir diye soracak olursak aslında adı üzerinde is in ? anlamına gelen bir metoddur 
# örnek;

tip = ["Electric"]
df[["Type 2"]].isin(tip)

     Type 2
0     False
1     False
2     False
3     False
4     False
..      ...
737   False
738   False
739   False
740   False
741   False

[742 rows x 1 columns]

In [52]:
df[df["Type 2"].isin(tip)]

# df[df["Type 2"].isin(["Electric"])]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
168,169,Chinchou,Water,Electric,330,75,38,38,56,56,67,2,False,94
169,170,Lanturn,Water,Electric,460,125,58,58,76,76,67,2,False,134
606,607,Joltik,Bug,Electric,319,50,47,50,57,50,65,5,False,104
607,608,Galvantula,Bug,Electric,472,70,77,60,97,60,108,5,False,174
629,630,Stunfisk,Ground,Electric,471,109,66,84,81,99,32,5,False,147
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,270

## MİN ve MAX

In [53]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [54]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [55]:
df["Total Atk"].min() # min total atak 20 gücündeymiş nasıl bakarız buna aşağıda

20

In [56]:
df[df["Total Atk"] == 20]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
211,212,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,20
443,444,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20

In [57]:
df["Total"].max()

720

In [58]:
df["Total"].idxmax() #en yüksek olanın indexi

503

In [59]:
df["Total"].min()

180

In [60]:
df["Total"].idxmin() #en küçük olanın indexi

189

In [61]:
df.iloc[189]

#                 190
Name          Sunkern
Type 1          Grass
Type 2            NaN
Total             180
HP                 30
Attack             30
Defense            30
Sp. Atk            30
Sp. Def            30
Speed              30
Generation          2
Legendary       False
Total Atk          60
Name: 189, dtype: object

## .apply & np.vectorize

In [62]:
"""
.apply bir fonksiyonu, dataframein içinde çalıştırmamızı sağlıyor.
"""

'\n.apply bir fonksiyonu, dataframein içinde çalıştırmamızı sağlıyor.\n'

In [63]:
def harf(a):                        #lst[start slice : end slice : step]
    return str(a)[:2]

In [64]:
df["Harf2"] = df["Name"].apply(harf)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Harf2
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,Bu
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,Iv
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,Ve
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,Ch
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,Ch
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181,Zy
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,Di
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260,Ho
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330,Ho
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240,Vo

In [65]:
df = df.drop("Harf2", axis=1)

In [66]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240

In [67]:
df["Total"].describe()

count    742.00000
mean     422.71159
std      111.89932
min      180.00000
25%      325.00000
50%      430.00000
75%      500.00000
max      720.00000
Name: Total, dtype: float64

In [68]:
def Powerful(Total):
    if Total < 325:
        return "*"
    elif Total < 430:
        return "**"
    elif Total < 500:
        return "***"
    elif Total < 700 and Total > 500:
        return "****"
    else:
        return "*****"

In [69]:
df["Powerful"] = df["Total"].apply(Powerful)
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,*
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,**
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,****
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,*
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,**
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
737,738,Zygarde,Dragon,Ground,600,108,100,121,81,95,95,6,True,181,****
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,****
739,740,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,260,****
740,741,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,330,****
741,742,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,240,****

In [70]:
def def_pwr(Defense,Sp_def):
    if Defense + Sp_def > 240:
        return "Shield"
    else:
        return "Neutral"

In [71]:
df["Defender"] = df[["Defense", "Sp. Def"]].apply(lambda df: def_pwr(df["Defense"], df["Sp. Def"]),axis=1)

In [72]:
df[df["Defender"] == "Shield"]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender
206,207,Steelix,Steel,Ground,510,75,85,200,55,65,30,2,False,140,****,Shield
211,212,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,20,****,Shield
247,248,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True,180,****,Shield
248,249,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True,240,****,Shield
354,355,Dusclops,Ghost,NaN,455,40,70,130,60,130,25,3,False,130,***,Shield
375,376,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True,150,****,Shield
376,377,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True,150,****,Shield
377,378,Registeel,Steel,NaN,580,80,75,150,75,150,50,3,True,150,****,Shield
386,387,Deoxys Defense,Psychic,NaN,600,50,70,160,70,160,90,3,True,140,****,Shield
412,413,Bastiodon,Rock,Steel,495,60,52,168,47,138,30,4,False,99,***,Shield
479,480,Probopass,Rock,Steel,525,60,55,145,75,150,40,4,False,130,****,Shield
480,481,Dusknoir,Ghost,NaN,525,45,100,135,65,135,45,4,False,165,****,Shield
488,489,Uxie,Psychic,NaN,580,75,75,130,75,130,95,4,True,150,****,Shield
497,498,Cresselia,Psychic,NaN,600,120,70,120,75,130,85,4,False,145,****,Shield
574,575,Cofagrigus,Ghost,NaN,483,58,50,145,95,105,30,5,False,145,***,Shield
609,610,Ferrothorn,Grass,Steel,489,74,94,131,54,116,20,5,False,148,***,Shield
700,701,Aegislash Shield,Steel,Ghost,520,60,50,150,50,150,60,6,False,100,****,Shield
722,723,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False,100,*****,Shield
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,****,Shield

In [73]:
import numpy as np

In [74]:
def atck_pwr(Atk,sp_atk):
    if Atk + sp_atk > 240:
        return "Sword"
    else:
        return "Neutral"

In [75]:
df["Attacker"] = np.vectorize(atck_pwr)(df["Attack"],df["Sp. Atk"])

In [76]:
df.iloc[27:37]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
27,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False,145,***,Neutral,Neutral
28,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False,87,*,Neutral,Neutral
29,30,Nidorina,Poison,NaN,365,70,62,67,55,55,56,1,False,117,**,Neutral,Neutral
30,31,Nidoqueen,Poison,Ground,505,90,92,87,75,85,76,1,False,167,****,Neutral,Neutral
31,32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False,97,*,Neutral,Neutral
32,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False,127,**,Neutral,Neutral
33,34,Nidoking,Poison,Ground,505,81,102,77,85,75,85,1,False,187,****,Neutral,Neutral
34,35,Clefairy,Fairy,NaN,323,70,45,48,60,65,35,1,False,105,*,Neutral,Neutral
35,36,Clefable,Fairy,NaN,483,95,70,73,95,90,60,1,False,165,***,Neutral,Neutral
36,37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False,91,*,Neutral,Neutral

In [77]:
df[df["Attacker"] == "Sword"].head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,264,****,Neutral,Sword
287,288,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False,255,****,Neutral,Sword
371,372,Salamence,Dragon,Flying,600,95,135,80,110,80,100,3,False,245,****,Neutral,Sword
380,381,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True,250,****,Neutral,Sword
381,382,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True,250,****,Neutral,Sword
382,383,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,300,****,Neutral,Sword
384,385,Deoxys Normal,Psychic,NaN,600,50,150,50,150,50,150,3,True,300,****,Neutral,Sword
385,386,Deoxys Attack,Psychic,NaN,600,50,180,20,180,20,150,3,True,360,****,Neutral,Sword
490,491,Azelf,Psychic,NaN,580,75,125,70,125,70,115,4,True,250,****,Neutral,Sword
491,492,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True,270,****,Neutral,Sword

## APPLY KOMUTU MU YOKSA VECTORİZE KOMUTU MU DAHA İYİ

In [78]:
import timeit

In [79]:
setup = """
import numpy as np
import pandas as pd

df = pd.read_csv("pokemon.csv")

def def_pwr(Defense,Sp_def):
    if Defense + Sp_def > 240:
        return "Shield"
    else:
        return "Neutral"


"""

stmt_one = """
df["Defender"] = df[["Defense", "Sp. Def"]].apply(lambda df: def_pwr(df["Defense"], df["Sp. Def"]),axis=1)

"""

stmt_two = """
df["Defender"] = np.vectorize(def_pwr)(df["Defense"], df["Sp. Def"])
"""

In [80]:
timeit.timeit(setup=setup,
              stmt=stmt_one,
              number=100)

0.3067291000043042

In [81]:
timeit.timeit(setup=setup,
              stmt=stmt_two,
              number=100)

0.028172299964353442

## Sıralama .sort_values

In [82]:
help(df.sort_values)

Help on method sort_values in module pandas.core.frame:

sort_values(by: 'IndexLabel', *, axis: 'Axis' = 0, ascending: 'bool | list[bool] | tuple[bool, ...]' = True, inplace: 'bool' = False, kind: 'SortKind' = 'quicksort', na_position: 'str' = 'last', ignore_index: 'bool' = False, key: 'ValueKeyFunc | None' = None) -> 'DataFrame | None' method of pandas.core.frame.DataFrame instance
    Sort by the values along either axis.

    Parameters
    ----------
    by : str or list of str
        Name or list of names to sort by.

        - if `axis` is 0 or `'index'` then `by` may contain index
          levels and/or column labels.
        - if `axis` is 1 or `'columns'` then `by` may contain column
          levels and/or index labels.
    axis : "{0 or 'index', 1 or 'columns'}", default 0
         Axis to be sorted.
    ascending : bool or list of bool, default True
         Sort ascending vs. descending. Specify list for multiple sort
         orders.  If this is a list of bools, must match the length of
         the by.
    inplace : bool, default False
         If True, perform operation in-place.
    kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, default 'quicksort'
         Choice of sorting algorithm. See also :func:`numpy.sort` for more
         information. `mergesort` and `stable` are the only stable algorithms. For
         DataFrames, this option is only applied when sorting on a single
         column or label.
    na_position : {'first', 'last'}, default 'last'
         Puts NaNs at the beginning if `first`; `last` puts NaNs at the
         end.
    ignore_index : bool, default False
         If True, the resulting axis will be labeled 0, 1, …, n - 1.
    key : callable, optional
        Apply the key function to the values
        before sorting. This is similar to the `key` argument in the
        builtin :meth:`sorted` function, with the notable difference that
        this `key` function should be *vectorized*. It should expect a
        ``Series`` and return a Series with the same shape as the input.
        It will be applied to each column in `by` independently.

    Returns
    -------
    DataFrame or None
        DataFrame with sorted values or None if ``inplace=True``.

    See Also
    --------
    DataFrame.sort_index : Sort a DataFrame by the index.
    Series.sort_values : Similar method for a Series.

    Examples
    --------
    >>> df = pd.DataFrame({
    ...     'col1': ['A', 'A', 'B', np.nan, 'D', 'C'],
    ...     'col2': [2, 1, 9, 8, 7, 4],
    ...     'col3': [0, 1, 9, 4, 2, 3],
    ...     'col4': ['a', 'B', 'c', 'D', 'e', 'F']
    ... })
    >>> df
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Sort by col1

    >>> df.sort_values(by=['col1'])
      col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort by multiple columns

    >>> df.sort_values(by=['col1', 'col2'])
      col1  col2  col3 col4
    1    A     1     1    B
    0    A     2     0    a
    2    B     9     9    c
    5    C     4     3    F
    4    D     7     2    e
    3  NaN     8     4    D

    Sort Descending

    >>> df.sort_values(by='col1', ascending=False)
      col1  col2  col3 col4
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B
    3  NaN     8     4    D

    Putting NAs first

    >>> df.sort_values(by='col1', ascending=False, na_position='first')
      col1  col2  col3 col4
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F
    2    B     9     9    c
    0    A     2     0    a
    1    A     1     1    B

    Sorting with a key function

    >>> df.sort_values(by='col4', key=lambda col: col.str.lower())
       col1  col2  col3 col4
    0    A     2     0    a
    1    A     1     1    B
    2    B     9     9    c
    3  NaN     8     4    D
    4    D     7     2    e
    5    C     4     3    F

    Natural sort with the key argument,
    using the `natsort <https://github.com/SethMMorton/natsort>` package.

    >>> df = pd.DataFrame({
    ...    "time": ['0hr', '128hr', '72hr', '48hr', '96hr'],
    ...    "value": [10, 20, 30, 40, 50]
    ... })
    >>> df
        time  value
    0    0hr     10
    1  128hr     20
    2   72hr     30
    3   48hr     40
    4   96hr     50
    >>> from natsort import index_natsorted
    >>> df.sort_values(
    ...     by="time",
    ...     key=lambda x: np.argsort(index_natsorted(df["time"]))
    ... )
        time  value
    0    0hr     10
    3   48hr     40
    2   72hr     30
    4   96hr     50
    1  128hr     20

In [83]:
df.sort_values("Speed")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
449,450,Munchlax,Normal,NaN,390,135,85,40,40,85,5,4,False,125,**,Neutral,Neutral
211,212,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,20,****,Shield,Neutral
608,609,Ferroseed,Grass,Steel,305,44,50,91,24,86,10,5,False,74,*,Neutral,Neutral
441,442,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False,90,*,Neutral,Neutral
326,327,Trapinch,Ground,NaN,290,45,100,45,45,45,10,3,False,145,*,Neutral,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
628,629,Accelgor,Bug,NaN,495,80,70,40,100,60,145,5,False,170,***,Neutral,Neutral
385,386,Deoxys Attack,Psychic,NaN,600,50,180,20,180,20,150,3,True,360,****,Neutral,Sword
384,385,Deoxys Normal,Psychic,NaN,600,50,150,50,150,50,150,3,True,300,****,Neutral,Sword
289,290,Ninjask,Bug,Flying,456,61,90,45,50,50,160,3,False,140,***,Neutral,Neutral
387,388,Deoxys Speed,Psychic,NaN,600,50,95,90,95,90,180,3,True,190,****,Neutral,Neutral

In [84]:
df.sort_values("Total", ascending= False).head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
503,504,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True,240,*****,Neutral,Neutral
662,663,Kyurem White,Dragon,Ice,700,125,120,90,170,100,95,5,True,290,*****,Neutral,Sword
661,662,Kyurem Black,Dragon,Ice,700,125,170,100,120,90,95,5,True,290,*****,Neutral,Sword
148,149,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True,264,****,Neutral,Sword
492,493,Palkia,Water,Dragon,680,90,120,100,150,120,100,4,True,270,****,Neutral,Sword
495,496,Giratina Altered,Ghost,Dragon,680,150,100,120,100,120,90,4,True,200,****,Neutral,Neutral
496,497,Giratina Origin,Ghost,Dragon,680,150,120,100,120,100,90,4,True,240,****,Neutral,Neutral
382,383,Rayquaza,Dragon,Flying,680,105,150,90,150,90,95,3,True,300,****,Neutral,Sword
656,657,Reshiram,Dragon,Fire,680,100,120,100,150,120,90,5,True,270,****,Neutral,Sword
657,658,Zekrom,Dragon,Electric,680,100,150,120,120,100,90,5,True,270,****,Neutral,Sword

In [85]:
df.sort_values(["Attack","Defense"]).head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40,***,Neutral,Neutral
443,444,Happiny,Normal,NaN,220,100,5,5,15,65,30,4,False,20,*,Neutral,Neutral
240,241,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85,****,Neutral,Neutral
127,128,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25,*,Neutral,Neutral
211,212,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,20,****,Shield,Neutral
347,348,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25,*,Neutral,Neutral
62,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False,125,*,Neutral,Neutral
163,164,Ledyba,Bug,Flying,265,40,20,30,40,80,55,2,False,60,*,Neutral,Neutral
233,234,Smeargle,Normal,NaN,250,55,20,35,20,45,75,2,False,40,*,Neutral,Neutral
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,40,*,Neutral,Neutral
181,182,Marill,Water,Fairy,250,70,20,50,20,50,40,2,False,40,*,Neutral,Neutral
461,462,Mantyke,Water,Flying,345,45,20,50,60,120,50,4,False,80,**,Neutral,Neutral
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,45,*,Neutral,Neutral
173,174,Togepi,Fairy,NaN,245,35,20,65,40,65,20,2,False,60,*,Neutral,Neutral
683,684,Spewpa,Bug,NaN,213,45,22,60,27,30,29,6,False,49,*,Neutral,Neutral

## Değer saymak

In [86]:
df["Attacker"].value_counts()

Attacker
Neutral    718
Sword       24
Name: count, dtype: int64

In [87]:
df["Type 1"].value_counts()

Type 1
Water       105
Normal       94
Grass        67
Bug          65
Psychic      51
Fire         48
Electric     42
Rock         41
Ground       31
Poison       28
Dark         28
Dragon       26
Fighting     25
Ghost        24
Ice          23
Steel        23
Fairy        17
Flying        4
Name: count, dtype: int64

## nlargest and nsmallest

In [88]:
df.nlargest(n=10, columns="HP")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
240,241,Blissey,Normal,NaN,540,255,10,10,75,135,55,2,False,85,****,Neutral,Neutral
112,113,Chansey,Normal,NaN,450,250,5,5,35,105,50,1,False,40,***,Neutral,Neutral
200,201,Wobbuffet,Psychic,NaN,405,190,33,58,33,58,33,2,False,66,**,Neutral,Neutral
319,320,Wailord,Water,NaN,500,170,90,45,90,45,60,3,False,180,*****,Neutral,Neutral
605,606,Alomomola,Water,NaN,470,165,75,80,40,45,65,5,False,115,***,Neutral,Neutral
141,142,Snorlax,Normal,NaN,540,160,110,65,65,110,30,1,False,175,****,Neutral,Neutral
287,288,Slaking,Normal,NaN,670,150,160,100,95,65,100,3,False,255,****,Neutral,Sword
429,430,Drifblim,Ghost,Flying,498,150,80,44,90,54,80,4,False,170,***,Neutral,Neutral
495,496,Giratina Altered,Ghost,Dragon,680,150,100,120,100,120,90,4,True,200,****,Neutral,Neutral
496,497,Giratina Origin,Ghost,Dragon,680,150,120,100,120,100,90,4,True,240,****,Neutral,Neutral

In [89]:
df.nsmallest(10,"Total")

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
189,190,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False,60,*,Neutral,Neutral
296,297,Azurill,Normal,Fairy,190,50,20,40,20,40,20,3,False,40,*,Neutral,Neutral
402,403,Kricketot,Bug,NaN,194,37,25,41,25,41,25,4,False,50,*,Neutral,Neutral
9,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False,50,*,Neutral,Neutral
12,13,Weedle,Bug,Poison,195,40,35,30,20,20,50,1,False,55,*,Neutral,Neutral
263,264,Wurmple,Bug,NaN,195,45,45,35,20,30,20,3,False,65,*,Neutral,Neutral
278,279,Ralts,Psychic,Fairy,198,28,25,25,45,35,40,3,False,70,*,Neutral,Neutral
127,128,Magikarp,Water,NaN,200,20,10,55,15,20,80,1,False,25,*,Neutral,Neutral
347,348,Feebas,Water,NaN,200,20,15,20,10,55,80,3,False,25,*,Neutral,Neutral
682,683,Scatterbug,Bug,NaN,200,38,35,40,27,25,35,6,False,62,*,Neutral,Neutral

## Between

In [90]:
df[df["HP"].between(50,55)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
10,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False,45,*,Neutral,Neutral
19,20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False,131,**,Neutral,Neutral
26,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False,95,*,Neutral,Neutral
28,29,Nidoran♀,Poison,NaN,275,55,47,52,40,40,41,1,False,87,*,Neutral,Neutral
53,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False,117,*,Neutral,Neutral
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,710,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False,120,*,Neutral,Neutral
711,712,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False,111,**,Neutral,Neutral
722,723,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False,100,*****,Shield,Neutral
731,732,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False,101,*,Neutral,Neutral
738,739,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,200,****,Shield,Neutral

In [91]:
# eğer 50 ve 55 arasındakileri de görmek istersem 50 ve 55 i dahil etmeden veriyi dökmeliyiz yani;

df[df["HP"].between(50,55, inclusive="neither")].head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
82,83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False,123,**,Neutral,Neutral
394,395,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False,112,*,Neutral,Neutral
575,576,Tirtouga,Water,Rock,355,54,78,103,53,45,22,5,False,131,**,Neutral,Neutral
594,595,Vanillish,Ice,NaN,395,51,65,65,80,75,59,5,False,145,**,Neutral,Neutral
644,645,Deino,Dark,Dragon,300,52,65,50,45,50,38,5,False,110,*,Neutral,Neutral
675,676,Frogadier,Water,NaN,405,54,63,52,83,56,97,6,False,146,**,Neutral,Neutral
688,689,Floette,Fairy,NaN,371,54,45,47,75,98,52,6,False,120,**,Neutral,Neutral
705,706,Inkay,Dark,Psychic,288,53,54,53,37,46,45,6,False,91,*,Neutral,Neutral

In [125]:
df[df["Attack"].between(70,75,inclusive="left")].head(15)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
26,27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False,95,Weak,Neutral,Neutral
32,33,Nidorino,Poison,NaN,365,61,72,57,55,55,65,1,False,127,**,Neutral,Neutral
68,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False,145,Weak,Neutral,Neutral
79,80,Slowbro,Water,Psychic,490,95,75,110,100,80,30,1,False,175,***,Neutral,Neutral
96,97,Hypno,Psychic,NaN,483,85,73,70,73,115,67,1,False,146,***,Neutral,Neutral
119,120,Starmie,Water,Psychic,520,60,75,85,100,85,115,1,False,175,****,Neutral,Neutral
176,177,Xatu,Psychic,Flying,470,65,75,70,95,70,95,2,False,170,***,Neutral,Neutral
179,180,Ampharos,Electric,NaN,510,90,75,85,115,90,55,2,False,190,****,Neutral,Neutral
184,185,Politoed,Water,NaN,500,90,75,75,90,100,70,2,False,165,*****,Neutral,Neutral
190,191,Sunflora,Grass,NaN,425,75,75,55,105,85,30,2,False,180,**,Neutral,Neutral
197,198,Slowking,Water,Psychic,490,95,75,80,100,110,30,2,False,175,***,Neutral,Neutral
199,200,Unown,Psychic,NaN,336,48,72,48,72,48,48,2,False,144,**,Neutral,Neutral
205,206,Gligar,Ground,Flying,430,65,75,105,35,65,85,2,False,110,***,Neutral,Neutral
238,239,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False,145,**,Neutral,Neutral
243,244,Suicune,Water,NaN,580,100,75,115,90,115,85,2,True,165,****,Neutral,Neutral

## Sample

In [127]:
df.sample(7)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
165,166,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False,100,Weak,Neutral,Neutral
687,688,Flabébé,Fairy,NaN,303,44,38,39,61,79,42,6,False,99,Weak,Neutral,Neutral
405,406,Luxio,Electric,NaN,363,60,85,49,60,49,60,4,False,145,**,Neutral,Neutral
639,640,Braviary,Normal,Flying,510,100,123,75,57,75,80,5,False,180,****,Neutral,Neutral
726,727,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False,160,***,Neutral,Neutral
142,143,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True,180,****,Neutral,Neutral
498,499,Phione,Water,NaN,480,80,80,80,80,80,80,4,False,160,***,Neutral,Neutral

In [93]:
"""
 örneğin sınıflandırma analizi yapacağım bir 60.000 satırlık veri var ve zaman kaybetmek istemiyorum. 
 Ve sınıflandırma analizi için kullanıcağım yöntemlerde birden fazla.
 Bende bu yöntemlerden hangisi daha iyi olabilir diye bakmak istiyorum ve bu 60.000 veriden 600 ünü alıp farklı farklı sample lara uyguluyorum ki
 hangisi daha iyi anlayabileyim
"""

'\n örneğin sınıflandırma analizi yapacağım bir 60.000 satırlık veri var ve zaman kaybetmek istemiyorum. \n Ve sınıflandırma analizi için kullanıcağım yöntemlerde birden fazla.\n Bende bu yöntemlerden hangisi daha iyi olabilir diye bakmak istiyorum ve bu 60.000 veriden 600 ünü alıp farklı farklı sample lara uyguluyorum ki\n hangisi daha iyi anlayabileyim \n'

In [94]:
df.sample(frac= 0.01) ## 700 küsür verimiz vardı ve yüzde 1 ini istedik 7.2 yi yuvarlayarak 7 tane veri çıkarttı

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
73,74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False,110,*,Neutral,Neutral
465,466,Magnezone,Electric,Steel,535,70,70,115,130,90,60,4,False,200,****,Neutral,Neutral
702,703,Aromatisse,Fairy,NaN,462,101,72,72,99,89,29,6,False,171,***,Neutral,Neutral
123,124,Electabuzz,Electric,NaN,490,65,83,57,95,85,105,1,False,178,***,Neutral,Neutral
119,120,Starmie,Water,Psychic,520,60,75,85,100,85,115,1,False,175,****,Neutral,Neutral
395,396,Prinplup,Water,NaN,405,64,66,68,81,76,50,4,False,147,**,Neutral,Neutral
344,345,Cradily,Rock,Grass,495,86,81,97,81,107,43,3,False,162,***,Neutral,Neutral

## ÖZGÜN DEĞERLER

In [95]:
df["Type 1"].unique() # unique eşsiz anlamında ancak burda içindeki değerleri bize bir numpy arrayi olarak veriyor.

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

In [96]:
df["Type 1"].nunique() # number of unique yani kaç tane olduğunu verir.

18

## KORELASYON

In [97]:
# Korelasyon nedir ? korelasyon iki değişkenin birbiri ile ne kadar ilişkili olduğunu gösterir.

In [136]:
df.corr(numeric_only= True) # artık dataframein içinde bulunan sayısal değer olmayanları kendisi çıkartamıyor ve hata veriyor
                            # bu yüzden numeric_only yi TRUE yapıyoruz ki hata almayalım. BU DURUM ARTIK TÜM SAYISAL DEĞER ÇEKEN FONKSİYONLAR İÇİN GEÇERLİDİR!

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk
#,1.000000,0.189225,0.118358,0.158384,0.129530,0.158176,0.125077,0.051161,0.983191,0.163344,0.191617
Total,0.189225,1.000000,0.635305,0.702491,0.600130,0.734193,0.701520,0.563005,0.115225,0.513909,0.869747
HP,0.118358,0.635305,1.000000,0.426067,0.228153,0.365526,0.366883,0.171112,0.080343,0.270002,0.478963
Attack,0.158384,0.702491,0.426067,1.000000,0.402615,0.364597,0.193994,0.350891,0.109939,0.345479,0.823929
Defense,0.129530,0.600130,0.228153,0.402615,1.000000,0.199667,0.503064,0.003386,0.075444,0.267399,0.363905
Sp. Atk,0.158176,0.734193,0.365526,0.364597,0.199667,1.000000,0.484020,0.457547,0.101479,0.443850,0.828087
Sp. Def,0.125077,0.701520,0.366883,0.193994,0.503064,0.484020,1.000000,0.235525,0.066235,0.359927,0.411360
Speed,0.051161,0.563005,0.171112,0.350891,0.003386,0.457547,0.235525,1.000000,0.016900,0.330845,0.489707
Generation,0.983191,0.115225,0.080343,0.109939,0.075444,0.101479,0.066235,0.016900,1.000000,0.093231,0.127947
Legendary,0.163344,0.513909,0.270002,0.345479,0.267399,0.443850,0.359927,0.330845,0.093231,1.000000,0.478113
Total Atk,0.191617,0.869747,0.478963,0.823929,0.363905,0.828087,0.411360,0.489707,0.127947,0.478113,1.000000

In [137]:
df[["Attack","Sp. Atk"]].corr(numeric_only=True)

           Attack   Sp. Atk
Attack   1.000000  0.364597
Sp. Atk  0.364597  1.000000

In [100]:
df[["Attack","Sp. Atk", "Defense","HP"]].corr(numeric_only=True)

           Attack   Sp. Atk   Defense        HP
Attack   1.000000  0.364597  0.402615  0.426067
Sp. Atk  0.364597  1.000000  0.199667  0.365526
Defense  0.402615  0.199667  1.000000  0.228153
HP       0.426067  0.365526  0.228153  1.000000

## Değer Değiştirme

In [131]:
# sütunun içindeki belli başlı değerleri nasıl değiştiririz ?

In [101]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,*,Neutral,Neutral
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,**,Neutral,Neutral
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,****,Neutral,Neutral
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,*,Neutral,Neutral
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,**,Neutral,Neutral

In [102]:
df["Powerful"].replace(to_replace="*", value="Weak") # önce "To replace" yani değiştirmek istenilen sonra value = değiştireceğimiz değer.

0      Weak
1        **
2      ****
3      Weak
4        **
       ...
737    ****
738    ****
739    ****
740    ****
741    ****
Name: Powerful, Length: 742, dtype: object

In [103]:
df.head() # ancak tekrar dataframe i döktüğümüz zaman tek yıldızlı olanlar weak olarak değiştirilmediğini görüyoruz. Ne yapıyorduk ?

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,*,Neutral,Neutral
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,**,Neutral,Neutral
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,****,Neutral,Neutral
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,*,Neutral,Neutral
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,**,Neutral,Neutral

In [132]:
# df["Powerful"] = df["Powerful"].replace(to_replace="*", value="Weak")

df["Powerful"].replace(to_replace="*", value="Weak",inplace=True)
df.head()

C:\Users\baki5\AppData\Local\Temp\ipykernel_16468\1096259988.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Powerful"].replace(to_replace="*", value="Weak",inplace=True)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,Weak,Neutral,Neutral
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,**,Neutral,Neutral
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,****,Neutral,Neutral
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,Weak,Neutral,Neutral
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,**,Neutral,Neutral

## .map() Fonksiyonu

In [105]:
map_1 = {
    "Grass" : "G",
    "Fire" : "F"
}

In [134]:
df["Type 1"].map(map_1) # göründüğü gibi tipi sadece grass olanları "G" ile ve fire olanları da "F" ile değiştirmek istedik. ancak grass ve fire olmayanlar NaN değeri aldı bu da verimiz için iyi bir şey değil.
                        # sadece 1 ve 2 tane veriyi değiştirebileceğiniz bi durumda ise kullanılabilir

0        G
1        G
2        G
3        F
4        F
      ...
737    NaN
738    NaN
739    NaN
740    NaN
741      F
Name: Type 1, Length: 742, dtype: object

In [107]:
df.head() # kaydetme işlemini yapmadığımız için verimiz hala en son yaptığmız gibi duruyor.

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total Atk,Powerful,Defender,Attacker
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,114,Weak,Neutral,Neutral
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,142,**,Neutral,Neutral
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,182,****,Neutral,Neutral
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,112,Weak,Neutral,Neutral
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False,144,**,Neutral,Neutral

## .sum() Fonksiyonu

In [108]:
# Sum bildiğimiz gibi toplama işlemine yarıyor. Dataframe de iste Bool değerlerden True olanları sayıyor. 

help(df["Legendary"].sum)

Help on method sum in module pandas.core.series:

sum(axis: 'Axis | None' = None, skipna: 'bool' = True, numeric_only: 'bool' = False, min_count: 'int' = 0, **kwargs) method of pandas.core.series.Series instance
    Return the sum of the values over the requested axis.

    This is equivalent to the method ``numpy.sum``.

    Parameters
    ----------
    axis : {index (0)}
        Axis for the function to be applied on.
        For `Series` this parameter is unused and defaults to 0.

        .. warning::

            The behavior of DataFrame.sum with ``axis=None`` is deprecated,
            in a future version this will reduce over both axes and return a scalar
            To retain the old behavior, pass axis=0 (or do not pass axis).

        .. versionadded:: 2.0.0

    skipna : bool, default True
        Exclude NA/null values when computing the result.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    min_count : int, default 0
        The required number of valid values to perform the operation. If fewer than
        ``min_count`` non-NA values are present the result will be NA.
    **kwargs
        Additional keyword arguments to be passed to the function.

    Returns
    -------
    scalar or scalar

    See Also
    --------
    Series.sum : Return the sum.
    Series.min : Return the minimum.
    Series.max : Return the maximum.
    Series.idxmin : Return the index of the minimum.
    Series.idxmax : Return the index of the maximum.
    DataFrame.sum : Return the sum over the requested axis.
    DataFrame.min : Return the minimum over the requested axis.
    DataFrame.max : Return the maximum over the requested axis.
    DataFrame.idxmin : Return the index of the minimum over the requested axis.
    DataFrame.idxmax : Return the index of the maximum over the requested axis.

    Examples
    --------
    >>> idx = pd.MultiIndex.from_arrays([
    ...     ['warm', 'warm', 'cold', 'cold'],
    ...     ['dog', 'falcon', 'fish', 'spider']],
    ...     names=['blooded', 'animal'])
    >>> s = pd.Series([4, 2, 0, 8], name='legs', index=idx)
    >>> s
    blooded  animal
    warm     dog       4
             falcon    2
    cold     fish      0
             spider    8
    Name: legs, dtype: int64

    >>> s.sum()
    14

    By default, the sum of an empty or all-NA Series is ``0``.

    >>> pd.Series([], dtype="float64").sum()  # min_count=0 is the default
    0.0

    This can be controlled with the ``min_count`` parameter. For example, if
    you'd like the sum of an empty series to be NaN, pass ``min_count=1``.

    >>> pd.Series([], dtype="float64").sum(min_count=1)
    nan

    Thanks to the ``skipna`` parameter, ``min_count`` handles all-NA and
    empty series identically.

    >>> pd.Series([np.nan]).sum()
    0.0

    >>> pd.Series([np.nan]).sum(min_count=1)
    nan

In [109]:
df["Legendary"]

0      False
1      False
2      False
3      False
4      False
       ...
737     True
738     True
739     True
740     True
741     True
Name: Legendary, Length: 742, dtype: bool

In [110]:
df["Legendary"].sum()

57

## Tekrarlı değerler

In [111]:
# aynı değerden birden fazla olma durumları için.

In [112]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
737    False
738    False
739    False
740    False
741    False
Length: 742, dtype: bool

In [113]:
df.duplicated().sum() # hiç aynı değerden birden fazla yokmuş.

0

In [114]:
df_new = pd.DataFrame(("Baki","Kaya","Ahmet","Baki"),(1,2,3,4))

In [115]:
df_new

       0
1   Baki
2   Kaya
3  Ahmet
4   Baki

In [116]:
df_new.duplicated()

1    False
2    False
3    False
4     True
dtype: bool

In [117]:
df_new.duplicated().sum()

1

In [118]:
# yeni bir fonksiyon öğreniyoruz. 
# bu noktada bir değerden birden fazla varsa ve onu silmek istiyorsak daha önce gördüğümüz drop fonksiyonuna ekleme yapıyoruz.
df_new.drop_duplicates()

       0
1   Baki
2   Kaya
3  Ahmet

In [119]:
df_new

       0
1   Baki
2   Kaya
3  Ahmet
4   Baki

In [120]:
df_new.drop_duplicates(inplace=True)

In [121]:
df_new

       0
1   Baki
2   Kaya
3  Ahmet